$font:'Oswald',
sans-serif;
.index-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.index-program {
    font-family: 'Oswald', sans-serif;
    color: white;
    display: flex;
    width: 320px;
    height: 307px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.program--back {
    background: url('../img/index-background-mobile.png') 100% 100% no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    width: 320px;
    height: 307px;
    z-index: -20;
}

.index-program__title {
    line-height: 30px;
    width: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    text-align: center;
    margin-top: 10px;
}

.index-program__text {
    margin-top: -15px
}

.index-program__promo {
    margin-top: -130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(../img/index-can-mobile.png) no-repeat;
    width: 280px;
    height: 260px;
    z-index: 100;
}

.index-program__button {
    background-color: #68b738;
    font-family: $font;
    color: white;
    display: flex;
    width: 280px;
    height: 40px;
    align-items: center;
    justify-content: center;
}

.circle {
    width: 50px;
    height: 50px;
    background-color: #68b738;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.circle--wrapper {
    display: flex;
    flex-direction: row;
    margin-left: -30px;
}

.slim__logo {
    margin-top: -5px;
}

.slim__title {
    font-size: 30px;
    margin-top: 20px;
}

.slim__text {
    font-size: small;
    margin-top: 20px;
    width: 200px;
    border-bottom: gray solid 1px;
    padding-bottom: 5px;
}

.slim__catalog {
    text-decoration: none;
    color: #4d4d4d;
    margin-left: -85px;
}

.slim {
    padding-left: -20px;
    width: 280px;
    height: 267px;
    background-color: #f2f2f2;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fat {
    padding-left: -20px;
    width: 280px;
    height: 267px;
    background-color: #f2f2f2;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fat__logo {
    margin-top: -5px;
}

.fat__title {
    font-size: 30px;
    margin-top: 20px;
}

.fat__text {
    font-size: small;
    margin-top: 20px;
    width: 200px;
    border-bottom: gray solid 1px;
    padding-bottom: 15px;
}

.fat__catalog {
    text-decoration: none;
    color: #4d4d4d;
    margin-left: -85px;
    margin-top: -10px;
}

.how-works {
    display: flex;
    width: 280px;
    flex-direction: column;
}

.works__title {
    font-size: 30px;
    display: flex;
    margin-bottom: 45px;
}

.pic--wrapper {
    margin-right: 20px;
    width: 70px;
    height: 70px;
    background-color: #68b738;
    display: flex;
    justify-content: center;
    align-items: center;
}

.features__text {
    display: flex;
    color: gray;
    margin-top: -5px;
    width: 200px;
}

.slim__logo {
    width: 50px;
    height: 50px;
    background: url('../img/Vector Smart Object.png') no-repeat;
    z-index: 1000;
    margin-left: 5px;
}

.fat__logo {
    width: 50px;
    height: 50px;
    background: url('../img/Vector Smart Object copy 2.png') no-repeat;
    z-index: 1000;
    margin-left: 5px;
}

.fe--wrapper {
    display: flex;
    justify-content: space-between;
}

@media(min-width:1200px) {
    .index-main {
        display: flex;
        flex-direction: column;
        align-content: flex-start;
    }
    .index-program {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    .program--back {
        position: relative;
        display: flex;
        width: 720px;
        height: 700px;
        margin-left: 45%;
        background: url('../img/index-background-desktop.png') 100% 100% no-repeat;
        background-position: center;
        background-size: cover;
    }
    .index-program__promo {
        background: url(../img/index-can.png) no-repeat;
        width: 550px;
        height: 500px;
        margin-top: -120px;
    }
    .index-program__title {
        position: absolute;
        color: black;
        font-size: 50px;
        width: 400px;
        margin-left: 50px;
        line-height: 50px;
    }
    .index-program__text {
        position: absolute;
        color: black;
        font-size: 20px;
        margin-top: 8%;
        margin-left: 8%;
    }
    .index-program__button {
        position: absolute;
        margin-top: 25%;
        margin-left: -32%;
    }
    .programms {
        display: flex;
    }
    .slim,
    .fat {
        width: 570px;
        height: 365px
    }
    .slim__logo {
        width: 120px;
        height: 120px;
        background: no-repeat url('../img/cat-slim.png') center;
    }
    .circle {
        width: 100px;
        height: 100px;
        background-color: #68b738;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px;
    }
    .fat__logo {
        margin-left: 0;
        position: absolute;
        width: 180px;
        height: 120px;
        background: no-repeat url('../img/cat-pro.png') center;
    }
    .slim__title,
    .fat__title {
        margin-left: 20px;
    }
    .slim__text,
    .fat__text {
        width: 470px;
        border: none;
    }
    .catalog--wrapper {
        margin-top: 50px;
        margin-left: -270px;
    }
    .fe--wrapper {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
    .features {
        display: flex;
        width: 1220px;
        justify-content: space-around;
        margin-left: -470px;
    }
    .features__text {
        margin-top: 40px;
    }
}